name: Build and deploy Python project to Azure Function App

on:
  push:
    branches:
      - main
      - stage
  workflow_dispatch:

jobs:
  deploy-production:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy_environment.yml
    with:
      app_name: ${{ vars.APPLICATION_NAME }}
      environment: production
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  deploy-stage:
    if: github.ref == 'refs/heads/stage'
    uses: ./.github/workflows/deploy_environment.yml
    with:
      app_name: ${{ vars.APPLICATION_NAME }}
      environment: stage
    secrets:
      azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
