# +name: Deploy to Azure Functions

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      azure_client_id:
        required: true
      azure_tenant_id:
        required: true
      azure_subscription_id:
        required: true

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Create .python_packages folder
        run: mkdir -p .python_packages/lib

      - name: Install the project dependencies
        run: uv sync --locked --all-extras --dev

      - name: Copy the project dependencies to the .python_packages folder
        run: cp -r .venv/lib/python3.13/site-packages .python_packages/lib/

      - name: Remove uv auto-generated files
        run: rm .python_packages/lib/site-packages/_virtualenv.*

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.azure_client_id }}
          tenant-id: ${{ secrets.azure_tenant_id }}
          subscription-id: ${{ secrets.azure_subscription_id }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        id: deploy-to-function
        with:
          app-name: ${{ inputs.app_name }}
          slot-name: ${{ inputs.environment }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}