name: Build and deploy Python project to Azure Function App

on:
  workflow_dispatch:

jobs:
  determine-environment:
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.set-env.outputs.environment }}
    steps:
      - name: Set environment
        id: set-env
        run: |
          if [ "$GITHUB_REF" == "refs/heads/main" ]; then
            ENVIRONMENT=production
          elif [ "$GITHUB_REF" == "refs/heads/stage" ]; then
            ENVIRONMENT=stage
          else
            echo "Error: This workflow can only be run from main or stage branches"
            exit 1
          fi
          echo "environment=$ENVIRONMENT" >> $GITHUB_OUTPUT

  deploy:
    needs: determine-environment
    runs-on: ubuntu-latest
    environment: ${{ needs.determine-environment.outputs.environment }}
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Create .python_packages folder
        run: mkdir -p .python_packages/lib

      - name: Install the project dependencies
        run: uv sync --locked --all-extras --dev

      - name: Copy the project dependencies to the .python_packages folder
        run: cp -r .venv/lib/python3.13/site-packages .python_packages/lib/

      - name: Remove uv auto-generated files
        run: rm .python_packages/lib/site-packages/_virtualenv.*

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.azure_client_id }}
          tenant-id: ${{ secrets.azure_tenant_id }}
          subscription-id: ${{ secrets.azure_subscription_id }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ vars.APPLICATION_NAME }}
          slot-name: ${{ needs.determine-environment.outputs.environment }}
          package: .
  