# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure Functions: https://aka.ms/python-webapps-actions

name: Build and deploy Python project to Azure Function App - eduardoteste

on:
  push:
    branches:
      - main
      - stage
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.'
  ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'production' || 'stage' }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/stage'
    environment: ${{ env.ENVIRONMENT }}
    permissions:
      contents: read #This is required for actions/checkout
      id-token: write #This is required for requesting the JWT

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Create .python_packages folder
        run: mkdir -p .python_packages/lib

      - name: Install the project dependencies
        run: uv sync --locked --all-extras --dev

      - name: Copy the project dependencies to the .python_packages folder
        run: cp -r .venv/lib/python3.13/site-packages .python_packages/lib/

      - name: Remove uv auto-generated files
        run: rm .python_packages/lib/site-packages/_virtualenv.*

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        id: deploy-to-function
        with:
          app-name: ${{ vars.APPLICATION_NAME }}
          slot-name: ${{ env.ENVIRONMENT }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
